.side-menu {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #202020;
  height: 100vh;
  width: 50vw;
  visibility: hidden;

  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 0.35s, 0.35s;
  transition-delay: 0s, 0s;

  color: #ffffff;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
}

.side-menu_visible {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .side-menu {
    width: calc(100% - 248px);
  }
}

@media screen and (max-width: 674px) {
  .side-menu {
    width: 100vw;
  }
}

.side-menu__close-btn {
  width: 32px;
  height: 32px;
  background-color: inherit;
  border: none;
  position: absolute;
  top: 21.4px;
  right: 24.8px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 674px) {
  .side-menu__close-btn {
    top: 13px;
    right: 17px;
  }
}

.side-menu__close-btn:hover {
  opacity: 0.8;
}

.side-menu__navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  padding: 160px 0 0 0;
  margin: 0;

  list-style: none;
}

@media screen and (max-width: 674px) {
  .side-menu__navigation-list {
    padding: 145px 0 0 0;
    gap: 18px;
  }
}

.side-menu__navigation-item {
  cursor: pointer;
  margin: 0;
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  transition: opacity 0.3s ease-in-out;

  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
}

.side-menu__navigation-item:hover {
  border-bottom: 2px solid #fff;
  opacity: 0.7;
}

.side-menu__account-container {
  display: flex;
  gap: 7px;
  position: absolute;
  bottom: 91px;
  right: calc(50% - 49px);
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 674px) {
  .side-menu__account-container {
    bottom: 48px;
  }
}

.side-menu__account-container:hover {
  opacity: 0.7;
}

.side-menu__profile-pic {
  padding: 7.75px 7.81px 7.58px;
  border-radius: 50%;
  background-color: #313131;
}

.side-menu__account-paragraph {
  margin: 0;

  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
}

.side-menu__navigation-link {
  text-decoration: none;
  color: inherit;
}
