.header {
  margin: auto;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  padding: 0 70px;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 0 14px;
  }
}

.header_hidden {
  display: none;
}

.header_background_blue {
  background-color: #073042;
}

.header_background_grey {
  background-color: #202020;
}

.header__logo-link {
  margin: 18px 45px 18px 0;
}

.header__logo-img {
  transition: opacity 0.3s ease-in-out;
}

.header__logo-img:hover {
  opacity: 0.8;
}

.header__navigation {
  display: flex;
  gap: 16px;
  padding: 0 0 3px 0;
}

.header__films-link,
.header__saved-films-link {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease-in-out;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}

.header__films-link:hover,
.header__saved-films-link:hover,
.header__profile:hover,
.header__register-link:hover {
  opacity: 0.7;
}

.header__auth {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0 0 2px 0;

  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 480px) {
  .header__auth {
    gap: 15px;
  }
}

.header__profile {
  transition: opacity 0.3s ease-in-out;
  display: flex;
  gap: 13px;
  align-items: center;
  margin: 0 0 0 auto;
  padding: 0 0 2px 0;

  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 768px) {
  .header__profile {
    display: none;
  }
}

.header__account-link {
  text-decoration: none;
  color: inherit;

  font-size: 12px;
  line-height: 13px;
  font-weight: 500;
}

.header__register-link {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s ease-in-out;

  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .header__register-link {
    font-size: 10px;
  }
}

.header__auth-btn {
  width: 76px;
  height: 32px;
  background-color: #3ddc84;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .header__auth-btn {
    width: 54px;
    height: 26px;
    font-size: 10px;
  }
}

.header__auth-btn:hover {
  opacity: 0.8;
}

.header__profile-pic {
  padding: 7.75px 7.81px 7.58px;
  border-radius: 50%;
}

.header__profile-pic_background_blue {
  background-color: #0f4157;
}

.header__profile-pic_background_grey {
  background-color: #313131;
}

.header__menu-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  padding: 0 1px 0 0;
}

@media screen and (max-width: 768px) {
  .header__menu-btn {
    visibility: visible;
  }
}

@media screen and (max-width: 480px) {
  .header__menu-btn-img {
    width: 37px;
    height: 37px;
  }
}

.header__menu-btn:hover {
  opacity: 0.8;
}
