.promo {
  position: relative;
  height: 556px;
  padding: 0 70px;
  background-color: #073042;
  background-image: url("../../../images/promo-pic.svg");
  background-repeat: no-repeat;
  background-position: bottom 60px right 70px;
}

@media screen and (max-width: 820px) {
  .promo {
    background-position: bottom 70px right 44px;
    background-size: calc(100% - 85px);
    height: 542px;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 300px 30px 0 30px;
  }
}

@media screen and (max-width: 680px) {
  .promo {
    padding: 183px 0 0 0;
    height: calc(630px - 183px);
  }
}

@media screen and (max-width: 480px) {
  .promo {
    padding: 180px 0 0 0;
    height: calc(630px - 185px);
    background-size: 680px 230px;
    background-position: bottom 40px right 50%;
  }
}

.promo__title {
  margin: 0;
  padding: 48px 0 0 0;
  letter-spacing: -0.04em;
  max-width: 626px;
  min-width: 300px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .promo__title {
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    font-weight: 400;
  }
}
